<!-- Created by David Winget (usma94@gmail.com)-->
<!-- Purpose: The purpose of this web page is to provide a page not found error page. -->

<!-- I used the https://www.w3schools.com/tags/ website to get a description of each HTML tag used and see an example of its use. -->

<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <title>404 Error!</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/Winget_David.css" >
        <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </head>
    
    <header class="header_style">
        
        <div class="container-fluid">
            <div class="row">
                <div id="navbarback" class="col-xs-12 navibarbackgrnd navbar navbar-inverse float_left">
                    <ul id="navibar" class="nav navbar-nav" >
                        <li class="active"><a href="index.html">Dave's Website</a></li>
                        <li><a href="/about_me.html">About Me</a></li>
                        <li><a href="/math_page.html">Math</a></li>
                        <li><a href="https://www.whitehouse.gov/administration/president-trump">Joke of the Day</a></li>
                        <li><a href="http://localhost:8081/guestbook">Guestbook</a></li>
                        <li><a href="http://localhost:8081/contact">Contact</a></li>
                    </ul>
                </div>
            </div>
        </div>

    </header>

<section class="container-fluid errorbackground">
    <div>
        <h3 id="PageError">404 Error! Sorry, we can't find the page you are looking for but we're sending out a team now to search for it.
        </h3>
        <br>
        <img id="errorimage" src="img/afghanistan.JPG" alt="404 Error! Sorry, we can't find the page you are looking for but we're sending out a team now to search for it.">
        <br>
        <br>
    </div>
</section>

<footer>
    <div class="container-fluid">
        <div class="row">
            <p class="col-xs-12 paragraph">Contact information: 
                <a href="mailto:S528390@nwmissouri.edu">
                S528390@nwmissouri.edu
                </a>
            </p>
        </div>
    </div>
</footer>