<!-- Created by David Winget (usma94@gmail.com)-->
<!-- Purpose: The purpose of this web page is to provide an error message in case the 'send message' button is not successful. -->

<!-- I used the https://www.w3schools.com/tags/ website to get a description of each HTML tag used and see an example of its use. -->
<!-- The GitHub, BitBucket, LinkedIn and Facebook logos are copyrighted by their respective websites. -->

<!DOCTYPE html>
<html lang="en">

<head>
		<meta charset="utf-8" /> 
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- Bootstrap -->
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
		<link type="text/css" href="css/Winget_David.css" rel="stylesheet">
		<title>Daves Website - Contact Me</title>
</head>

<body>
	<header class="header_style">
				
		<div class="container-fluid">
				
			<div class="row">
					<div id="navbarback" class="col-xs-12 navibarbackgrnd navbar navbar-inverse">
						<ul id="navibar" class="nav navbar-nav" >
							<li><a href="index.html">Dave's Website</a></li>
							<li><a href="about_me.html">About Me</a></li>
							<li><a href="math_page.html">Math</a></li>
							<li><a href="https://www.whitehouse.gov/administration/president-trump">Joke of the Day</a></li>
							<li><a href="http://localhost:8081/guestbook">Guestbook</a></li>
							<li class="active"><a href="http://localhost:8081/contact">Contact</a></li>
						</ul>
					</div>
				</div>
		
				<div class="row" id="fullname">
					<div class="col-xs-12 namebackgrd">
						<h1>David G. Winget</h1>
					</div>
				</div>
				
				<br> <br> <br> <br> <br> 		
		</div>
	</header>

	<section class="container-fluid blackbgrd">

		<div class="row contact">
			<div class="col-xs-12 contacttext">
				<h2 id="contact_me">Contact Me On:</h2>
				<br>
				<a href="https://bitbucket.org/DWinget">
					<img class="contact_image" src="img/bitbucket.png" alt="Bitbucket Link">
				</a>
				<a href="https://github.com/DWinget">
					<img class="contact_image" src="img/Github-Transparent.png" alt="GetHub Link">
				</a>
				<a href="img/nolinkedin.jpg">
					<img class="contact_image" src="img/linkedinlogo.png" alt="LinkedIn Link">
				</a>
				<a href="img/NoFacebook.jpg">
					<img class="contact_image" src="img/logofacebook.png" alt="Facebook Link">
				</a>
				<a href="mailto:S528390@nwmissouri.edu">
					<img class="contact_image" src="img/email-logo.png" alt="Email Link">
				</a>
				<hr>
			</div>
			
		</div>

		<div class="contact panel panel-primary">
			<div class="contact panel-heading">
				<h4 class ="col-sx-12 contact panel-title">Error, message not sent! Please click on the contact navigation menu above to try again or send me an email directly with the above link.</h4>
			</div>
		</div>

	</section>
	
	<footer class="footer_style">
		<div class="container-fluid">
			<div class="row">
				<p class="col-xs-12 paragraph">Contact information: 
					<a href="mailto:S528390@nwmissouri.edu">
					S528390@nwmissouri.edu
					</a>
				</p>
			</div>
		</div>
	</footer>

	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>