<!-- Created by David Winget (usma94@gmail.com)-->
<!-- Purpose: The purpose of this code is to provide the footer for my guestbook. -->

<!-- I used the W07 assignment as a template for the guestbook. -->
<!-- I used the https://www.w3schools.com/tags/ website to get a description of each HTML tag used and see an example of its use. -->

</body>

<footer class="guestbook footer">
    <br>
    <div class="container">
        <p>Thank you for using Dave's Guestbook App!</p>
    </div>

    <div class="container-fluid">
        <div class="row">
            <p class="col-xs-12 paragraph">Contact information: 
                <a href="mailto:S528390@nwmissouri.edu">
                S528390@nwmissouri.edu
                </a>
            </p>
        </div>
    </div>
</footer>

</html>