<!-- Created by David Winget (usma94@gmail.com)-->
<!-- Purpose: The purpose of this code is to show my guestbook. -->

<!-- I used the W07 assignment as a template for the guestbook. -->
<!-- I used the https://www.w3schools.com/tags/ website to get a description of each HTML tag used and see an example of its use. -->

<% include header %>
<% if (entries.length) { %>
    <% entries.forEach(function(entry) { %>
    <div class="guestbook panel panel-default">
        <div class="entries panel-heading">
            <div class="text-muted pull-right" id="published">
                <%= entry.published %>
            </div>
            <%= entry.name %>
        </div>

        <div class="entries panel-body">
            <%= entry.content %>
        </div>
    </div>
<% }) %>
<% } else { %>
No entries! <a href="/new-entry">Add one!</a>
<% } %>
<% include footer %>