<!-- Created by David Winget (usma94@gmail.com)-->
<!-- Purpose: The purpose of this code is to provide the header for my guestbook. -->

<!-- I used the W07 assignment as a template for the guestbook. -->
<!-- I used the https://www.w3schools.com/tags/ website to get a description of each HTML tag used and see an example of its use. -->

<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <title>Dave's Guestbook</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/Winget_David.css" >
        <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </head>
    
    <header class="header_style">
        
        <div class="container-fluid">
            <div class="row">
                <div id="navbarback" class="col-xs-12 navibarbackgrnd navbar navbar-inverse float_left">
                    <ul id="navibar" class="nav navbar-nav" >
                        <li><a href="index.html">Dave's Website</a></li>
                        <li><a href="/about_me.html">About Me</a></li>
                        <li><a href="/math_page.html">Math</a></li>
                        <li><a href="https://www.whitehouse.gov/administration/president-trump">Joke of the Day</a></li>
                        <li class="active"><a href="http://localhost:8081/guestbook">Guestbook</a></li>
						<li><a href="http://localhost:8081/contact">Contact</a></li>
                    </ul>
                </div>
            </div>
        </div>

    </header>


<body class="guestbook container">
    <h1 id="Title">
        Dave's Guestbook
        <a href="/new-entry" class="btn btn-primary pull-right"> Write in the guestbook </a>
        <br>
        <br>
    </h1>