<!-- Created by David Winget (usma94@gmail.com)-->
<!-- Purpose: The purpose of this code is to allow the user to write in my guestbook. -->

<!-- I used the W07 assignment as a template for the guestbook. -->
<!-- I used the https://www.w3schools.com/tags/ website to get a description of each HTML tag used and see an example of its use. -->

<% include header %>
<h2>Write a new entry</h2>
<form method="post" role="form">

  <div class="form-group">
    <label for="name">Your name</label>
    <input type="text" class="new_entry form-control" id="name" name="name" placeholder="Your Name" required>
  </div>

  <div class="form-group">
    <label for="content">Entry text</label>
    <textarea class="new_entry form-control" id="body" name="body" placeholder="Love the website!" rows="3" required></textarea>
  </div>

  <div class="form-group">
    <input type="submit" value="Post entry" class="btn btn-primary">
  </div>

</form>

<% include footer %>